@{
	ViewData["Title"] = "Home Page";
}

@model List<Data.Item>;

<div class="list-group">
	@foreach (var item in Model)
	{
		<a href="#" class="list-group-item-action list-group-item" style="padding: 2px">
			<div class="list-group list-group-horizontal" style="padding: 2px">
				<img class="img-thumbnail" width="350" height="300" src="@item.ImgUrl" />
				<div class="list-group" style="margin-left: 5px">
					<h3>@item.Name</h3>
					<p>@item.Description</p>
					<div class="flex-row ml-md-auto d-none d-md-flex">
						<div class="list-group-horizontal">
						</div>
					</div>
				</div>
			</div>
		</a>
	}
</div>
